You can set permissions for this workspace by running a Python script on the computer where the backend service is running.

To allow a user to edit this workspace:

```python
import {{ projectName }}

{{ projectName }}.set_user_workspace_permissions(
    user_id='user@gmail.com',
    workspace_uri='{workspaceUri}',
    append=True
)
```
