import React from 'react';
// import logo from './logo.svg';
import './App.css';
import MainWindow from './python/{{ projectName }}/gui/MainWindow/MainWindow';
import { MuiThemeProvider } from '@material-ui/core';
import theme from './theme';
import { BrowserRouter } from 'react-router-dom';
import {ChannelSetup, GoogleSignInSetup} from './python/{{ projectName }}/gui/labbox';

function App() {
  return (
    <div className="App">
      <MuiThemeProvider theme={theme}>
        <BrowserRouter>
          <GoogleSignInSetup>
            <ChannelSetup>
              <MainWindow />
            </ChannelSetup>
          </GoogleSignInSetup>
        </BrowserRouter>
      </MuiThemeProvider>
    </div>
  )
}

export default App;
